#main-container{
 width: 100%;   
}
.progress-bar{
    background: red;
    width: 100%;
    height: 50px;
    border-radius: 60px ;
}

.progress-bar-complete{
    background: slateblue;
    width: 66%;
    height: 100%;
    border-radius: 60px ;

}
/* dont forget to animate */